@page "/"
<PageTitle>Home</PageTitle>

<h1>ChamboulDé!<sup>&copy;</sup></h1>

<p>The first game with the new dice Dy that fit wonderfully well in your hand! Consisting of 5 dice D4 handmade with exotic wood.</p>

<ul>
    <li><a href="https://boardgamegeek.com/boardgame/308531/chamboulde" target="_blank">BoardGameGeek</a></li>
    <li><a href="https://www.kickstarter.com/projects/2132900266/chamboulde-a-new-game-with-five-d4" target="_blank">KickStarter</a></li>
</ul>

<div>
    <img src="images/ChamboulDe-all.png" alt="ChamboulDe" width="200" />
    <img src="images/ChamboulDe_1.png" alt="ChamboulDe" width="200" />
    <img src="images/ChamboulDe-1.avif" alt="ChamboulDe" width="200" />
    <img src="images/ChamboulDe-2.avif" alt="ChamboulDe" width="200" />
    <img src="images/ChamboulDe-3.avif" alt="ChamboulDe" width="200" />
    <img src="images/ChamboulDe-Bags.avif" alt="ChamboulDe" width="200" />
    <img src="images/ChamboulDe-De.avif" alt="ChamboulDe" width="200" />
    <img src="images/ChamboulDe-original.avif" alt="ChamboulDe" width="200" />
</div>

